{% extends 'core/base.html' %}

{% load static %}
{% block title %}
Contact
{% endblock title %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom"> CONTACT US</h1>
    <div class="row text-white mb-5">
        <p class="mx-auto mb-5">
            Do You Have any questions? Please do no hersitate to contact. I will come back to you within a matter of hours to help you.
        </p>
        <div class="col-sm-9 mb-5">
            <form action="{% url 'contact' %}" method="POST">{% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-primary mt-3" type="submit">Send</button>
            </form>
        </div>
        <div class="col-sm-3 text-center">
            <ul class="list-unstyled">
                <li>
                    <i class="fas fa-location-dot fa-2x i-color"></i>
                    <p>Sector 66 , Gurugram , Haryana , India</p>
                </li>
                <li>
                    <i class="fas fa-phone mt-4 fa-2x i-color"></i>
                    <p>+91 7291819487</p>
                </li>
                <li>
                    <i class="fas fa-envelope mt-4 fa-2x i-color"></i>
                    <p>lokeshjain2806@gmail.com</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="text-center">
    <a href="https://twitter.com/Lokeshjain2000" target="_blank"><i class="fab fa-twitter i-color fa-2x" style="margin-right: 20px;"></i></a>
    <a href="#" target="_blank"><i class="fab fa-facebook-f i-color mr-3 fa-2x" style="margin-right: 20px;"></i></a>
    <a href="https://instagram.com/lokeshjain2806?utm_source=qr&igshid=MzNlNGNkZWQ4Mg%3D%3D" target="_blank"><i class="fab fa-instagram i-color mr-3 fa-2x" style="margin-right: 20px;"></i></a>
    <a href="https://api.whatsapp.com/send?phone=917291819487" target="_blank"><i class="fab fa-whatsapp i-color mr-3 fa-2x" style="margin-right: 20px;"></i></a>
</div>
{% endblock content %}